@import "tailwindcss";


@theme {
  --color-primary: #7ffbae;
  --color-body: #eae7e7;
}

.nav-active {
  @apply text-primary;
}

.main-footer a {
  @apply transition-all duration-300 hover:text-shadow-[0_0_15px_#7ffbae];
}
